.App {
  text-align: center;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px 15px 15px 5px;
  text-align: left;
}
th {
  background-color: whitesmoke;
}
tr:nth-child(even) {
  background-color: rgb(115, 215, 248);
}
tr:nth-child(odd) {
  background-color: rgb(76, 247, 99);
}

.button-container {
  border: solid white 1px;
  background-color: white;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.button {
  background-color: rgb(76, 247, 99);
  border: solid 2px rgb(115, 215, 248);
  border-radius: 3px;
  padding: 3px;
  font-weight: bold;
}
form {
  width: 100%;
  display: flex;
  justify-content: center;
}
form th {
  padding: 3px;
}
form td {
  padding: 10px;
}

@media(max-width: 800px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .smurf-list {
    margin-top: 20px;
  }
}